<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
	</head>
	<body>
		<h1>About Us</h1>
		<p>
		This sample site is by <a href="https://github.com/crejb">crejb</a>, based on the <a href="http://www.railstutorial.org/book/static_pages#cha-static_pages">Rails Tutorial book</a>
		</p>
	</body>
</html>